body {
    margin: 0;
    font-family:'Roboto', sans-serif ;

    font-size: 15px;
    line-height: 1.4;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1500px;
    height: 100%;
    /* max-height: 400px; */
    margin: 0 auto;
    padding: 0 50px ;
}

/* INTRO */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height:100vh;
    min-width: 800px;
    /* min-height: 1000px; */
    background: url("file:///G:/projects/Myweb/img/2.jpeg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

/* SQUARE */

.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1600px;
    min-width: 800px;
    /* min-height: 1000px; */
    height: 100vh;

    margin: 100px auto 0px;
    padding: 40px 0 0;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 0px 7px 0px #aaa;
    
    background-color: #fff;
}

/* HEADER */

.header {
    width: 100%;

    /* position: absolute;

    top: 125px;
    left: 0;
    right: 0;
    z-index: 1000; */
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 0 50px;
}

.header__logo {
    font-size: 30px;
    color: #333;
    font-family: 'Dancing Script', cursive;
}

/* NAV */

.nav {
    display: flex;
    align-items: center;
    font-size: 14px;
    text-transform: none;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0px 15px;
    position: relative;

    color: #333;
    text-decoration: none;
    opacity: 0.5;

    transition: opacity 0.1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0;

    background-color: black;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.1 linear;
}

.nav__link:hover {
    opacity: 1;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 0.3;
}

.nav__link.active {
    opacity: 1; 
}

/* BUTTON */

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 5px 15px;
    margin: 0 0 0 30px;

    font-size: 14px;
    color: #fff;
    text-decoration: none;

    background-color: rgb(255, 140, 119);
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px #aaa;

    transition: opacity 0.1s linear;
}

.btn:hover {
    opacity: 0.8;
}

/* ABOUT */

.about {
    width: 100%;

    display: flex;
    align-items:center;
}

.about__head {
    display: flex;
    align-items: center;
    margin: -10px 0 0;
}


.about__imgs {
    width: 100%;
    max-width: 700px;
    min-width: 300px;
    /* max-width: 1000px; */
    height: 100%;
    max-height: 300px;
    min-height: 300px;

    margin: 0 30px 0 0;
    border-radius: 10px;
}

.about__suptitle {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.about__list {
    padding-left: 7px;
    list-style-position: inside;
    font-size: 12px;
    opacity: 0.7;
}

.about__title {
    font-size: 25px;
    text-align: justify;
}

.about__text {
    font-size: 16px;
    line-height: 1.7;
    opacity: 0.7;
    text-align: justify;

    margin: 0 0 65px;
}

.about__my {
    display: flex;

    align-items: center;

}

.about__myimg {
    width: 100%;
    max-width: 60px;

    border-radius: 50%;
    margin: 0 20px 0 0;

}

.about__myheader {
    line-height: 1.5;
}

.about__myinf {
    font-size: 14px;
}

.about__myinfs {
    font-size: 14px;
    margin: 0 ;
}

/* DEV */

.dev {
    display: flex;

    margin: 0 0 0 0;
}

.dev__item {
    display: flex; 


    max-width: 700px;
    height: 300px;
    width: 100%;

    /* background-color: #b5eae0;  */
}

.dev__item__2 {
    display: flex; 
    

    max-width: 700px;
    height: 300px;
    width: 100%;
    margin-left: 30px;
}

.dev__img {
    display: flex;

    align-items: center;
    width: 100%;
    max-height: 300px;
    max-width: 350px;
}

.dev__img__2 {
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 300px;
    max-width: 274px;
}

.dev__imgs {
    width: 100%;
    height: 100%;
}

.dev__imgs__2 {
    width: 100%;
    height: 90%;
    border-radius: 50%;
}

.dev__it {
    width: 100%;
    max-width: 350px;
    height: 300px;
    margin: 7px 0 0 30px;
}

.dev__it__2 {
    width: 100%;
    height: 300px;
    margin: 7px 0 0 30px;
}